.outer-art-n {
    position: relative;
    margin-bottom: 30px;
    .art-n {
        padding-right: 5px;
        color: $silver;
        border: 1px solid $silver;
        background: $silver;
       
        position: relative;
        -webkit-clip-path: polygon(2% 0, 98% 0, 100% 4%, 100% 96%, 98% 100%, 2% 100%, 0 96%, 0 4%);
        clip-path: polygon(2% 0, 98% 0, 100% 4%, 100% 96%, 98% 100%, 2% 100%, 0 96%, 0 4%);

        .inner {
            display: flex;
            align-items: center;
            padding: 25px;
            background: linear-gradient(to left, #225fa3, #204d8b, #1c3b73, #162b5c, #0e1b46);
            -webkit-clip-path: polygon(2% 0, 98% 0, 100% 4%, 100% 96%, 98% 100%, 2% 100%, 0 96%, 0 4%);
            clip-path: polygon(2% 0, 98% 0, 100% 4%, 100% 96%, 98% 100%, 2% 100%, 0 96%, 0 4%);

            // &:after {
            //     content: "";
            //     position: absolute;
            //     z-index: 1;
            //     border-left: 4px solid transparent;
            //     border-right: 4px solid transparent;
            //     width: 100%;
            //     height: 0;
            //     top: 1px;
            //     left: 0;
            //     border-bottom: 4px solid $silver;
            // }
            // &:before {
            //     content: "";
            //     position: absolute;
            //     z-index: 1;
            //     border-left: 4px solid transparent;
            //     border-right: 4px solid transparent;
            //     width: 100%;
            //     height: 0;
            //     bottom: 1px;
            //     right: 0;
            //     border-top: 4px solid $silver;
            // }
            >span {
                display: flex;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background: $white;
                    object-fit: cover;
                }
            }
        }


        .des {
            flex-grow: 1;
            width: 1px;
            padding-left: 30px;

            .bordered {
                width: 100%;
                height: 1px;
                background: $silver;
                display: block;
                margin: 10px 0;
            }

            .top {
                display: flex;
                justify-content: space-between;

                strong {
                    text-transform: uppercase;
                    color: $white;

                    i {
                        display: block;
                        text-transform: none;
                        font-style: normal;
                        color: $silver;
                        font-size: 10px;
                        margin-top: 5px;
                    }
                }

                .btn-vote {
                    width: 48px;
                    height: 48px;
                }
            }

            .bottom {
                height: 46px;
                align-items: center;
                display: flex;
                justify-content: space-between;

                .total {
                    font-size: 10px;
                }

                .score {
                    font-size: 32px;
                    text-align: right;
                    width: 53%;
                    background: url(../images/border.svg) left center no-repeat;
                }
            }
        }

        // &:before {
        //     content: "";
        //     position: absolute;
        //     border-left: 4px solid transparent;
        //     border-right: 4px solid transparent;
        //     width: 100%;
        //     height: 0;
        //     top: 0px;
        //     left: 0;
        //     border-bottom: 4px solid red;
        // }
        // &:after {
        //     content: "";
        //     position: absolute;
        //     border-left: 4px solid transparent;
        //     border-right: 4px solid transparent;
        //     width: 100%;
        //     height: 0;
        //     bottom: 0px;
        //     left: 0;
        //     border-top: 4px solid red;
        // }
       
    }
    @include md(){
        margin-bottom: 16px;
        .art-n {
            .inner {
                padding: 15px;
                > span {
                    img {
                        width: 72px;
                        height: 72px;
                    }
                }
            }
            .des {
               
                .top {
                    strong {
                        font-size: 14px;
                        i {
                            margin-top: 0;
                        }
                    }
                    .btn-vote {
                        width: 32px;
                        height: 32px;
                        i {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
                .bottom{
                    height: 36px;
                    .score {
                        background-size: 4%;
                    }
                }
            }
        }
    }

    &:after {
        content: "";
        width: 14px;
        height: 30px;
        background: url(../images/arrow-border.png) center no-repeat;
        position: absolute;
        right: -13px;
        top: 50%;
        margin-top: -15px;
        position: absolute;
    }

    &.active {
        .art-n {
            .inner {
                background-image: linear-gradient(to right, #7D5B3F, #B39C77);
                .des {
                    .bottom {
                        
        
                        .score {
                           color: $white;
                        }
        
                        
                    }
                }
            }
        }
    }
}