.btn, button {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    transition: all .2s ease-in-out 0s;
    &.btn-style {
        height: 40px;
        width: 168px;
        background: url(../images/btn.svg) center no-repeat;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      
        .icon-vote-white {
            margin-left: 10px;
        }
    }
   
}