.frm-style {
    width: 100%;
    max-width: 585px;
    margin-left: auto;
    margin-right: auto;
    .label-frm {
        text-align: center;
        font-size: 12px;
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .inner-frm {
        position: relative;
        margin-bottom: 60px;
        .btn-search {
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 40px;
            border: 0;
            outline: none;
            display: flex;
            background: none;
            align-items: center;
            justify-content: center;
        }
        .txt-search {
            display: block;
            width: 100%;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 40px;
            height: 40px;
            border-radius: 6px;
            overflow: hidden;
            border: none;
            padding-left: 20px;
            padding-right: 60px;
            outline: none;
            font-style: italic;
        }
    }
    
    .inner-form {
        position: relative;
        margin-bottom: 60px;
        .btn-search {
            position: absolute;
            right: 0;
            top: 0;
        }
        span {
            position: absolute;
            width: 60px;
            height: 40px;
            text-align: center;
            color: #bbb;
            font-size: 14px;
            font-weight: normal;
            font-family: Arial, Helvetica, sans-serif;
            left: 0;
            top: 0;
            line-height: 40px;
            
        }
        input {
            display: block;
            width: 100%;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 40px;
            height: 40px;
            border-radius: 6px;
            overflow: hidden;
            border: none;
            padding-left: 60px;
            outline: none;
        }
        @include sm(){
            margin-bottom: 30px;
        }
    }
    @include sm(){
        &.mt-5 {
            margin-top: 20px!important;
            .inner-frm {
                margin-bottom: 20px;
            }
        }
    }
   
}