
.list {
    .row {
        margin-left: -30px;
        margin-right: -30px;
        .col {
            padding-left: 30px;
            padding-right: 30px;
        }
        @include md(){
            margin-left: 0;
            margin-right: 0;
            .col {
                padding-left: 0;
                padding-right: 15px;
                width: 100%;
                flex: 1 0 100%;
            }
         }
    }
}

.wrapper {
    min-height: 100vh;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 80vh;
        background:  linear-gradient(to top, #001326, #00182f, #001c38, #002141, #00254b);
        z-index: 1;
    }
    &.wrapper-full {
        &::after {
            height: 100%;
            @include sm(){
                min-height: 600px;
             }
        }
    }
    main {
        position: relative;
        z-index: 2;
    }
}

.section {
    padding-top: 80px;
    &.section-login {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 80px);
        justify-content: center;
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        min-height: 600px;
        .container {
            text-align: center;

        }
        @include sm(){
           padding-top: 30px;
        }
    }
}

.title {
    height: 64px;
    background: url(../images/bgd-title.svg) left top repeat-y;
    background-size: 100%;
    text-align: center;
    line-height: 64px;
    color: $silver;
    text-transform: capitalize;
}

.list {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}