.header {
    position: absolute;
    z-index: 2;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    top: 0;
    width: 100%;
   .list-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        margin: 0 25px;
        @include sm(){
            margin: 0 12px;
            a {
                img {
                    max-height: 20px;
                    max-width: 48px;
                }
            }
        }
    }
   }

}