.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: cover!important;
    &.icon-vote-s {
        width: 24px;
        height: 24px;
        background: url(../images/icon/icon-vote-white.svg) center no-repeat;
    }
    &.icon-search {
        width: 24px;
        height: 24px;
        background: url(../images/icon/icon-search.svg) center no-repeat;
        
    }
    &.icon-vote-blue {
        width: 48px;
        height: 48px;
        background: url(../images/icon/icon-heart-blue.svg) center no-repeat;
       
    }
    &.icon-vote-yellow {
        width: 48px;
        height: 48px;
        background: url(../images/icon/icon-heart-yellow.svg) center no-repeat;
       
    }
   
}