@font-face {
  font-family: "SVN-Aptima";
  src: url("../fonts/SVN-Aptimabold.woff2") format("woff2"), url("../fonts/SVN-Aptimabold.woff") format("woff"), url("../fonts/SVN-Aptimabold.svg#SVN-Aptimabold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Aptima";
  src: url("../fonts/SVN-Aptima.woff2") format("woff2"), url("../fonts/SVN-Aptima.woff") format("woff"), url("../fonts/SVN-Aptima.svg#SVN-Aptima") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  line-height: 1.25;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-family: "SVN-Aptima";
  font-size: 18px;
  font-weight: bold;
  color: #7FA8D1;
}
body.open {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  max-width: 100%;
  display: inline-block;
  border-style: none;
  aspect-ratio: attr(width)/attr(height) !important;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.text-left {
  text-align: left;
}

.mr-0.swiper-filter {
  margin-right: 0 !important;
}

input.form-control:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}

a {
  transition: all 0.25s ease-in-out 0s;
}

@font-face {
  font-family: "SVN-Aptima";
  src: url("../fonts/SVN-Aptimabold.woff2") format("woff2"), url("../fonts/SVN-Aptimabold.woff") format("woff"), url("../fonts/SVN-Aptimabold.svg#SVN-Aptimabold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Aptima";
  src: url("../fonts/SVN-Aptima.woff2") format("woff2"), url("../fonts/SVN-Aptima.woff") format("woff"), url("../fonts/SVN-Aptima.svg#SVN-Aptima") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  line-height: 1.25;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-family: "SVN-Aptima";
  font-size: 18px;
  font-weight: bold;
  color: #7FA8D1;
}
body.open {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  max-width: 100%;
  display: inline-block;
  border-style: none;
  aspect-ratio: attr(width)/attr(height) !important;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.text-left {
  text-align: left;
}

.mr-0.swiper-filter {
  margin-right: 0 !important;
}

input.form-control:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}

a {
  transition: all 0.25s ease-in-out 0s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInDown {
  animation-name: fadeInDown;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-bgd {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

@keyframes floating-arrow {
  0% {
    transform: translate(-50%, 0);
  }
  65% {
    transform: translate(-50%, 15px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
.floating-arrow {
  animation-name: floating-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: cover !important;
}
.icon.icon-vote-s {
  width: 24px;
  height: 24px;
  background: url(../images/icon/icon-vote-white.svg) center no-repeat;
}
.icon.icon-search {
  width: 24px;
  height: 24px;
  background: url(../images/icon/icon-search.svg) center no-repeat;
}
.icon.icon-vote-blue {
  width: 48px;
  height: 48px;
  background: url(../images/icon/icon-heart-blue.svg) center no-repeat;
}
.icon.icon-vote-yellow {
  width: 48px;
  height: 48px;
  background: url(../images/icon/icon-heart-yellow.svg) center no-repeat;
}

.btn, button {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  transition: all 0.2s ease-in-out 0s;
}
.btn.btn-style, button.btn-style {
  height: 40px;
  width: 168px;
  background: url(../images/btn.svg) center no-repeat;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.btn.btn-style .icon-vote-white, button.btn-style .icon-vote-white {
  margin-left: 10px;
}

.header {
  position: absolute;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 0;
  top: 0;
  width: 100%;
}
.header .list-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .list-logo li {
  margin: 0 25px;
}
@media screen and (max-width: 540px) {
  .header .list-logo li {
    margin: 0 12px;
  }
  .header .list-logo li a img {
    max-height: 20px;
    max-width: 48px;
  }
}

.frm-style {
  width: 100%;
  max-width: 585px;
  margin-left: auto;
  margin-right: auto;
}
.frm-style .label-frm {
  text-align: center;
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.frm-style .inner-frm {
  position: relative;
  margin-bottom: 60px;
}
.frm-style .inner-frm .btn-search {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: 0;
  outline: none;
  display: flex;
  background: none;
  align-items: center;
  justify-content: center;
}
.frm-style .inner-frm .txt-search {
  display: block;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
  height: 40px;
  border-radius: 6px;
  overflow: hidden;
  border: none;
  padding-left: 20px;
  padding-right: 60px;
  outline: none;
  font-style: italic;
}
.frm-style .inner-form {
  position: relative;
  margin-bottom: 60px;
}
.frm-style .inner-form .btn-search {
  position: absolute;
  right: 0;
  top: 0;
}
.frm-style .inner-form span {
  position: absolute;
  width: 60px;
  height: 40px;
  text-align: center;
  color: #bbb;
  font-size: 14px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  left: 0;
  top: 0;
  line-height: 40px;
}
.frm-style .inner-form input {
  display: block;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
  height: 40px;
  border-radius: 6px;
  overflow: hidden;
  border: none;
  padding-left: 60px;
  outline: none;
}
@media screen and (max-width: 540px) {
  .frm-style .inner-form {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 540px) {
  .frm-style.mt-5 {
    margin-top: 20px !important;
  }
  .frm-style.mt-5 .inner-frm {
    margin-bottom: 20px;
  }
}

.outer-art-n {
  position: relative;
  margin-bottom: 30px;
}
.outer-art-n .art-n {
  padding-right: 5px;
  color: #E8D9C1;
  border: 1px solid #E8D9C1;
  background: #E8D9C1;
  position: relative;
  -webkit-clip-path: polygon(2% 0, 98% 0, 100% 4%, 100% 96%, 98% 100%, 2% 100%, 0 96%, 0 4%);
  clip-path: polygon(2% 0, 98% 0, 100% 4%, 100% 96%, 98% 100%, 2% 100%, 0 96%, 0 4%);
}
.outer-art-n .art-n .inner {
  display: flex;
  align-items: center;
  padding: 25px;
  background: linear-gradient(to left, #225fa3, #204d8b, #1c3b73, #162b5c, #0e1b46);
  -webkit-clip-path: polygon(2% 0, 98% 0, 100% 4%, 100% 96%, 98% 100%, 2% 100%, 0 96%, 0 4%);
  clip-path: polygon(2% 0, 98% 0, 100% 4%, 100% 96%, 98% 100%, 2% 100%, 0 96%, 0 4%);
}
.outer-art-n .art-n .inner > span {
  display: flex;
}
.outer-art-n .art-n .inner > span img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  -o-object-fit: cover;
     object-fit: cover;
}
.outer-art-n .art-n .des {
  flex-grow: 1;
  width: 1px;
  padding-left: 30px;
}
.outer-art-n .art-n .des .bordered {
  width: 100%;
  height: 1px;
  background: #E8D9C1;
  display: block;
  margin: 10px 0;
}
.outer-art-n .art-n .des .top {
  display: flex;
  justify-content: space-between;
}
.outer-art-n .art-n .des .top strong {
  text-transform: uppercase;
  color: #fff;
}
.outer-art-n .art-n .des .top strong i {
  display: block;
  text-transform: none;
  font-style: normal;
  color: #E8D9C1;
  font-size: 10px;
  margin-top: 5px;
}
.outer-art-n .art-n .des .top .btn-vote {
  width: 48px;
  height: 48px;
}
.outer-art-n .art-n .des .bottom {
  height: 46px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.outer-art-n .art-n .des .bottom .total {
  font-size: 10px;
}
.outer-art-n .art-n .des .bottom .score {
  font-size: 32px;
  text-align: right;
  width: 53%;
  background: url(../images/border.svg) left center no-repeat;
}
@media screen and (max-width: 768px) {
  .outer-art-n {
    margin-bottom: 16px;
  }
  .outer-art-n .art-n .inner {
    padding: 15px;
  }
  .outer-art-n .art-n .inner > span img {
    width: 72px;
    height: 72px;
  }
  .outer-art-n .art-n .des .top strong {
    font-size: 14px;
  }
  .outer-art-n .art-n .des .top strong i {
    margin-top: 0;
  }
  .outer-art-n .art-n .des .top .btn-vote {
    width: 32px;
    height: 32px;
  }
  .outer-art-n .art-n .des .top .btn-vote i {
    width: 32px;
    height: 32px;
  }
  .outer-art-n .art-n .des .bottom {
    height: 36px;
  }
  .outer-art-n .art-n .des .bottom .score {
    background-size: 4%;
  }
}
.outer-art-n:after {
  content: "";
  width: 14px;
  height: 30px;
  background: url(../images/arrow-border.png) center no-repeat;
  position: absolute;
  right: -13px;
  top: 50%;
  margin-top: -15px;
  position: absolute;
}
.outer-art-n.active .art-n .inner {
  background-image: linear-gradient(to right, #7D5B3F, #B39C77);
}
.outer-art-n.active .art-n .inner .des .bottom .score {
  color: #fff;
}

.list .row {
  margin-left: -30px;
  margin-right: -30px;
}
.list .row .col {
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 768px) {
  .list .row {
    margin-left: 0;
    margin-right: 0;
  }
  .list .row .col {
    padding-left: 0;
    padding-right: 15px;
    width: 100%;
    flex: 1 0 100%;
  }
}

.wrapper {
  min-height: 100vh;
  position: relative;
}
.wrapper:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80vh;
  background: linear-gradient(to top, #001326, #00182f, #001c38, #002141, #00254b);
  z-index: 1;
}
.wrapper.wrapper-full::after {
  height: 100%;
}
@media screen and (max-width: 540px) {
  .wrapper.wrapper-full::after {
    min-height: 600px;
  }
}
.wrapper main {
  position: relative;
  z-index: 2;
}

.section {
  padding-top: 80px;
}
.section.section-login {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  min-height: 600px;
}
.section.section-login .container {
  text-align: center;
}
@media screen and (max-width: 540px) {
  .section.section-login {
    padding-top: 30px;
  }
}

.title {
  height: 64px;
  background: url(../images/bgd-title.svg) left top repeat-y;
  background-size: 100%;
  text-align: center;
  line-height: 64px;
  color: #E8D9C1;
  text-transform: capitalize;
}

.list {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=style.css.map */