.btn, button {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    transition: all .2s ease-in-out 0s;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    &.btn-style {
       height: 42px;
       display: block;
       width: 100%;
       border-radius: 21px;
       background-image: linear-gradient( #DD4926, #62100D);
       color: #fff;
    }
   &:hover {
    transform: translateY(-2px);
   }
   &.btn-style-1 {
       height: 38px;
       display: block;
       width: 100%;
       background: url(../images/border-btn.svg) center no-repeat;
       width: 260px;
       margin: 0 auto;
       color: #F3C07B;
   }
}