html, body {
    min-height: 100%;
}
body {
    background: url(../images/bgd.png) center no-repeat;
    background-size: cover;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}
.logo-block {
    display: block;
    text-align: center;
    margin-top: 30px;
}
.block-success {
    width: 260px;
    height: 372px;
    background: url(../images/khieng.png) center no-repeat;
    margin: 30px auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .txt-success {
        width: 130px;
        margin-top: -40px;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 800;
    }
}
.block-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    .txt-success {
        width: 122px;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 800;
    }
}
.frm-login {
    input.form-control {
        background-color: rgba(225, 225, 225, 0.2);
        border-radius: 3px;  
        border-color: #877366;
        height: 42px;
        color: #fff;
        outline: none!important;
        &:focus {
            box-shadow: none;
        }
        &::placeholder {
            color: #ABAAAA;
        }
    }
}
.noted {
    text-align: center;
    font-style: italic;
    color: #F85959;
}

.title {
    padding-bottom: 2px;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #F5E3CB;
    background: url(../images/bg-title.png) center bottom no-repeat;
    margin-bottom: 30px;
}
.list {
    
    height: calc(100vh - 245px);
    overflow-y: auto;
    padding-right: 5px;
    > .row {
        margin-left: -5px;
        margin-right: -5px;
    }
}
.btn-confirm {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(#62100D, #DD4926);
    color: #fff;
    border-radius: 0;
}

.art-2 {
    margin-bottom: 20px;
    .name {
        width: 100%;
        display: flex;
        padding: 10px 2px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .txt {
            font-size: 14px;
            color: #BD8A46;
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 700;
            margin-bottom: 7px;
        }
        strong {
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;
            display: block;
            line-height: 1.25;
        }
    }
    .inner {
        background: url(../images/bg-anhtai-ver.png) bottom center no-repeat;
        background-size: cover;
       
        border: 1px solid #BD8A46;
        border-radius: 12px;
        overflow: hidden;
        .img {
            position: relative;
            width: 100%;
            height: 110px;
            i {
                position: absolute;
                left: 7px;
                top: 0;
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
       
        .btn-vote {
            padding: 10px 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            text-shadow: 1px 1px 5px #fff;
        }
    }
    &.active {
        .inner {
            background-image: url(../images/bg-anhtai-active-ver.png);
            .img {
                i {
                    display: block;
                }
            }
        }
        
       
    }
}
.art-1 {
    background: url(../images/bg-anhtai.png) right center no-repeat;
    background-size: cover;
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #BD8A46;
    border-radius: 12px;
    overflow: hidden;
    .img {
        position: relative;
        width: 130px;
        height: 100px;
        i {
            position: absolute;
            left: 7px;
            top: 0;
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .name {
        width: 1px;
        flex-grow: 1;
        display: flex;
        padding: 2px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .txt {
            font-size: 14px;
            color: #BD8A46;
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 700;
            margin-bottom: 7px;
        }
        strong {
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;
            display: block;
            line-height: 1.25;
        }
    }
    .btn-vote {
        width: 70px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: 1px 1px 5px #fff;
    }
    &.active {
        background-image: url(../images/bg-anhtai-active.png);
        .img {
            i {
                display: block;
            }
        }
    }
}