.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: cover!important;
    &.icon-user {
        width: 24px;
        height: 24px;
        background: url(../images/icon/icon-user.svg) center no-repeat;
    }
    &.icon-at {
        width: 11.6px;
        height: 16px;
        background: url(../images/icon/icon-anhtai-or.svg) center no-repeat;
    }
    &.icon-at-r {
        width: 21px;
        height: 46px;
        background: url(../images/icon/icon-anhtai-red.svg) center no-repeat;
    }
}