@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInDown {
  animation-name: fadeInDown;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-bgd {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

@keyframes floating-arrow {
  0% {
    transform: translate(-50%, 0);
  }
  65% {
    transform: translate(-50%, 15px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
.floating-arrow {
  animation-name: floating-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* The container */
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #004FC4;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 4px;
  top: 4px;
  width: 14px;
  height: 14px;
  background-color: #004FC4;
  border-radius: 50%;
  content: "";
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5e3c11;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BD8A46;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #BD8A46;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: cover !important;
}
.icon.icon-user {
  width: 24px;
  height: 24px;
  background: url(../images/icon/icon-user.svg) center no-repeat;
}
.icon.icon-at {
  width: 11.6px;
  height: 16px;
  background: url(../images/icon/icon-anhtai-or.svg) center no-repeat;
}
.icon.icon-at-r {
  width: 21px;
  height: 46px;
  background: url(../images/icon/icon-anhtai-red.svg) center no-repeat;
}

.btn, button {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  transition: all 0.2s ease-in-out 0s;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.btn.btn-style, button.btn-style {
  height: 42px;
  display: block;
  width: 100%;
  border-radius: 21px;
  background-image: linear-gradient(#DD4926, #62100D);
  color: #fff;
}
.btn:hover, button:hover {
  transform: translateY(-2px);
}
.btn.btn-style-1, button.btn-style-1 {
  height: 38px;
  display: block;
  width: 100%;
  background: url(../images/border-btn.svg) center no-repeat;
  width: 260px;
  margin: 0 auto;
  color: #F3C07B;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
}
.header .container {
  display: flex;
  justify-content: space-around;
}

html, body {
  min-height: 100%;
}

body {
  background: url(../images/bgd.png) center no-repeat;
  background-size: cover;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.logo-block {
  display: block;
  text-align: center;
  margin-top: 30px;
}

.block-success {
  width: 260px;
  height: 372px;
  background: url(../images/khieng.png) center no-repeat;
  margin: 30px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-success .txt-success {
  width: 130px;
  margin-top: -40px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
}

.block-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.block-center .txt-success {
  width: 122px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
}

.frm-login input.form-control {
  background-color: rgba(225, 225, 225, 0.2);
  border-radius: 3px;
  border-color: #877366;
  height: 42px;
  color: #fff;
  outline: none !important;
}
.frm-login input.form-control:focus {
  box-shadow: none;
}
.frm-login input.form-control::-moz-placeholder {
  color: #ABAAAA;
}
.frm-login input.form-control::placeholder {
  color: #ABAAAA;
}

.noted {
  text-align: center;
  font-style: italic;
  color: #F85959;
}

.title {
  padding-bottom: 2px;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: #F5E3CB;
  background: url(../images/bg-title.png) center bottom no-repeat;
  margin-bottom: 30px;
}

.list {
  height: calc(100vh - 245px);
  overflow-y: auto;
  padding-right: 5px;
}
.list > .row {
  margin-left: -5px;
  margin-right: -5px;
}

.btn-confirm {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(#62100D, #DD4926);
  color: #fff;
  border-radius: 0;
}

.art-2 {
  margin-bottom: 20px;
}
.art-2 .name {
  width: 100%;
  display: flex;
  padding: 10px 2px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.art-2 .name .txt {
  font-size: 14px;
  color: #BD8A46;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-bottom: 7px;
}
.art-2 .name strong {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  line-height: 1.25;
}
.art-2 .inner {
  background: url(../images/bg-anhtai-ver.png) bottom center no-repeat;
  background-size: cover;
  border: 1px solid #BD8A46;
  border-radius: 12px;
  overflow: hidden;
}
.art-2 .inner .img {
  position: relative;
  width: 100%;
  height: 110px;
}
.art-2 .inner .img i {
  position: absolute;
  left: 7px;
  top: 0;
  display: none;
}
.art-2 .inner .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.art-2 .inner .btn-vote {
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 5px #fff;
}
.art-2.active .inner {
  background-image: url(../images/bg-anhtai-active-ver.png);
}
.art-2.active .inner .img i {
  display: block;
}

.art-1 {
  background: url(../images/bg-anhtai.png) right center no-repeat;
  background-size: cover;
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #BD8A46;
  border-radius: 12px;
  overflow: hidden;
}
.art-1 .img {
  position: relative;
  width: 130px;
  height: 100px;
}
.art-1 .img i {
  position: absolute;
  left: 7px;
  top: 0;
  display: none;
}
.art-1 .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.art-1 .name {
  width: 1px;
  flex-grow: 1;
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.art-1 .name .txt {
  font-size: 14px;
  color: #BD8A46;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-bottom: 7px;
}
.art-1 .name strong {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  line-height: 1.25;
}
.art-1 .btn-vote {
  width: 70px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 5px #fff;
}
.art-1.active {
  background-image: url(../images/bg-anhtai-active.png);
}
.art-1.active .img i {
  display: block;
}/*# sourceMappingURL=style.css.map */